{% extends 'base/base.html' %}


{% block title %}成員{% endblock %}

{% block import %}

{% load static%}
<!-- import css -->
<link rel="stylesheet" href="{% static 'css/members/members.css' %}">
{% endblock %}

<!-- start here -->
{% block main %}
<!-- 匯入 header -->
{% include 'base/header.html' %}
<div class="title text-center">
    <h1 class="font-weight-bold">歷屆成員</h1> 
</div>
<div class="container-fluid">
    <div class="row">
        {% for n in members %}
        <div class="col-4 center">
            <div class="card">
                <div class="card-header">
                    <!-- <img src="https://fakeimg.pl/200x150/" class="img-fluid rounded" alt=""> -->
                    <img src="{{ MEDIA_URL }}{{ n.image }}" class="img-fluid rounded cover" alt="">
                </div>
                
                <div class="card-body">
                    <h5 class="card-title">{{ n.name }}</h5>
                    <p class="card-text">
                        {{ n.description }}
                        <br>級次：{{ n.grade }}
                        <br>位置：{{ n.get_position_display }}
                    </p>
                    <div class="thumb">
                        <img src="{% static 'img/members/thumb.png' %}" class="img-fluid" alt="">
                    </div>
                    <div class="hit">
                        <h5>{{ n.thumb }}</h5>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- 匯入 footer -->
{% include 'base/footer.html' %}
{% endblock %}