<header>
    <div class="header shadow">
        <div class="logo">
            <div class="text">
                <a href="{% url 'index' %}">NYUST IM</a>
            </div>
        </div>
        <div class="menu">
            <a href="{% url 'members' %}">
            <span>成員介紹</span>
            <br><h6>MEMBERS</h6>
            </a>
            <a href="{% url 'competition' %}">
                <span>賽事</span>
                <br><h6>COMPETITION</h6>
            </a>
            <a href="{% url 'events' %}">
                <span>活動公告</span>
                <br><h6>EVENTS</h6>
            </a>
            <a href="{% url 'appointment' %}">
                <span>預約友誼賽</span>
                <br><h6>APPOINTMENT</h6>
            </a>
        </div>
    </div>
</header>