<header>
    <div class="header shadow">
        <div class="logo">
            <div class="text">
                <a href="{% url 'index' %}">NYUST IM</a>
            </div>
        </div>
        <div class="menu">
            <a href="{% url 'members' %}">
            <span>成員介紹</span>
            <br>MEMBERS
            </a>
            <a href="#">
                <span>賽事</span>
                <br>COMPETITION
            </a>
            <a href="#">
                <span>活動花絮</span>
                <br>ACTIVITY
            </a>
            <a href="{% url 'appointment' %}">
                <span>預約友誼賽</span>
                <br>APPOINTMENT
            </a>
        </div>
    </div>
</header>