*{
    margin:0;
    padding:0;
}
body{
    background-color: #c0d7d7;
    max-width: 100%;
}
/*
 * 明體 cwTeXMing (Chinese Traditional) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
    font-family: 'cwTeXMing';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot);
    src: url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.woff) format('woff'),
         url(//fonts.gstatic.com/ea/cwtexming/v3/cwTeXMing-zhonly.ttf) format('truetype');
}
.card{
    width: 350px;
    height: 400px;
    background-color: beige;
    font-family: 'cwTeXMing';
}
.card-header{
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.cover{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.row{
    padding: 35px 250px;
}
.center{
    display: flex;
    justify-content: center;
    padding-bottom: 35px;
}
.title{
    margin-top: 30px;
}
.title h1{
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: "Microsoft JhengHei", sans-serif;
    /* background: linear-gradient(to top, #88730d, #f3ecc9, #F6DA4D); */
    color: #F6DA4D;
    background: -webkit-linear-gradient(bottom, #243c29, #3e8780);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.thumb{
    cursor: pointer;
    width: fit-content;
    float: left;
}
.thumb:active {
    transform: translateY(4px);
}
.hit{
    float: right;
    margin: 15px auto;
}
