{% extends 'base/base.html' %}

    {% block title %}雲科資管系排{% endblock %}

    {% block import %}

    {% load static%}
    <!-- import css -->
    <link rel="stylesheet" href="{% static 'css/index/index.css' %}">
    {% endblock %}

    <!-- start here -->
    {% block main %}
    <!-- 匯入 header -->
    {% include 'base/header.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="main-photo">
                <div class="one">
                    <img src="{% static 'img/index/1.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="two">
                    <img src="{% static 'img/index/2.jpg' %}" class="img-fluid" style="transform: translateY(-21px);" alt="">
                </div>
                <div class="three">
                    <img src="{% static 'img/index/3.jpg' %}" class="img-fluid" style="transform: translateY(-35px);" alt="">
                </div>
            </div>
        </div>
        <div class="row main">
            <div class="col-6">
                左邊
            </div>
            <div class="col-6">
                <div class="writing">
                    <p class="lh-base">
                        我們是雲科資管系排~<br>
                        歡迎你的加入!!<br>
                        如果你不是資管系的<br>
                        也歡迎與我們一起打球!!!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- 匯入 footer -->
    {% include 'base/footer.html' %}
    {% endblock %}