.header .logo{
    width:20%;
    text-align: center;
    margin: auto;
}
.header{
    background-color: #245759;
    overflow: hidden;
    display: flex;
    height: 135px;
    padding-left: 40px;
    padding-right: 40px;
}
.menu{
    width: 80%;
    display: flex;
    /* 垂直置中 */
    align-items: center;
    /* 水平平均分散，空白留在左右 */
    justify-content:space-around;
    padding-right: 300px;
    padding-right: 200px;
}
.menu a{
    float: left;
    color: #F6DA4D;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 15px;
    font-family: 'Noto Sans TC', sans-serif;
}
.header span{
    font-size: 25px;
    letter-spacing: 10px;
}
.text a{
    color: #ffffff;
    font-size: 20px;
}
.shadow{
    box-shadow: 0 .9rem 20px rgba(0,0,0,.15)!important;
}