{% extends 'base/base.html' %}


{% block title %}活動公告{% endblock %}

{% block import %}

{% load static%}
<!-- import css -->
<link rel="stylesheet" href="{% static 'css/events/events.css' %}">
{% endblock %}

<!-- start here -->
{% block main %}
<!-- 匯入 header -->
{% include 'base/header.html' %}
<div class="title text-center">
    <h1 class="font-weight-bold">公告</h1> 
</div>
<div class="container-fluid">
    {% for e in events %}
    <div class="row">
        <div class="card shadow font-weight-bold">
            <div class="type">
                {{ e.type }}
            </div>
            <div class="content">
                {{ e.content }}
            </div>
        </div>
    </div>
    {% endfor %}
    <ul class="pagination" style="justify-content: center;">
      {% if events.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page=1">« first</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ events.previous_page_number }}">previous</a>
        </li>
      {% endif %}
  
      {% for i in events.paginator.page_range %}
        <li class="page-item {% if i == events.number %} active{% endif %}">
          <a class="page-link" href="?page={{ i }}">{{ i }}</a>
        </li>
      {% endfor %}
  
      {% if events.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ events.next_page_number }}">next</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="?page={{ events.paginator.num_pages }}">last »</a>
        </li>
      {% endif %}
  
  </ul>
</div>
<!-- 匯入 footer -->
{% include 'base/footer.html' %}
{% endblock %}