{% extends 'base/base.html' %}


{% block title %}活動公告{% endblock %}

{% block import %}

{% load static%}
<!-- import css -->
<link rel="stylesheet" href="{% static 'css/events/events.css' %}">
{% endblock %}

<!-- start here -->
{% block main %}
<!-- 匯入 header -->
{% include 'base/header.html' %}
<div class="title text-center">
    <h1 class="font-weight-bold">公告</h1> 
</div>
<div class="container-fluid">
    {% for i in "aaaaaa" %}
    <div class="row">
        <div class="card shadow font-weight-bold">
            <div class="type">
                練球時間
            </div>
            <div class="content">
                嗨嗨
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- 匯入 footer -->
{% include 'base/footer.html' %}
{% endblock %}